@{
    ViewData["Title"] = "Bulky Movies";
}

<div class="text-center">
    <h1 class="display-4">Bulky Movies</h1>
    <p class="lead">
        I denne web-applikasjonen har jeg gjort følgende:
        <ul class=" list-unstyled lead">
            <li>
                Opprettet to databaser, Category og Movies
            </li>
            <li>
                Satt inn CRUD-funksjonalitet på begge databasene
            </li>
            <li>
                Satt inn klient-side validering i Create-sidene
            </li>           
            <li>
                Benyttet ASP-tags gjennomgående
            </li>
            <li>
                Brukt Temp-data for å opplyse om status på CRUD-operasjoner
            </li>
            <li>
                Satt inn Bootswatch-tema og brukt CSS-tags gjennom alle views
            </li>
            <li>
                Satt inn Google Maps API med markør som peker til Brights (Academic Work) kontorer på Nydalen
            </li>
            <li>
                Brukt Github for å dokumentere prosessen
            </li>

        </ul>
        <br />
        <br />

        

    </p>

</div>
